<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html lang="en">

<head>
  	<meta charset="utf-8">
    <title>CareerCup</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!-- Favicons-->
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" type="image/x-icon" href="../static/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../static/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="../static/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../static/img/apple-touch-icon-144x144-precomposed.png">
    
    <!-- CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/superfish.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/fontello/css/fontello.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
      <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
    

      <script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-11097556-8']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
        
        </head>
  <body>
  <header>
  	<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-3">
			<a href=" index.html" id="logo">CareerCup</a>
		</div>
        <div class="col-md-9 col-sm-9 col-xs-9">
			<div class=" pull-right"><a href="signin.html" class="button_top hidden-xs" id="apply">Sign out</a></div>
		</div>
</div>
</header><!-- End header -->

<nav>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="mobnav-btn"></div>
			<ul class="sf-menu">
				<li class="normal_drop_down">
				<a href="#">Home</a>
				</li>
				<li class="normal_drop_down">
				<a href="#">Course</a>
				<div class="mobnav-subarrow"></div>
				<ul>
                	<li><a href=" C_details.html">c/c++</a></li>
                    <li><a href="#">java</a></li>
                    <li><a href="#">algorithms</a></li>
                    <li><a href="#">android</a></li>
                    <li><a href="#">operating systems</a></li>
                    <li><a href="#">mysql</a></li>
                    
				</ul>
				</li>
                <li><a href="#">aptitude</a></li>
                <li><a href="#">general knowledge</a></li>
				<li><a href=" resume.html">resume</a></li>
				<li><a href="#">group discussion</a></li>
                <li>
				<a href="#">news</a>
                </li>
				<li><a href="#">about us</a></li>
			</ul>
            
                  
		</div>
	</div><!-- End row -->
</div><!-- End container -->
</nav>

<section id="sub-header">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			
			<p class="lead boxed">CareerCup's Resume Builder</p>
			<p class="lead">
				CareerCup's Resume Builder is the fastest, most efficient way to build an effective resume. Ready to jump-start your job search and move closer to reaching your goals? Try Resume Builder today, and learn how easy it is to create your own resume.

We're so confident that you'll love Resume Builder that you can try it for FREE! 
			</p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->
  
<section id="main_content" >
<div class="container">
<div class="row">
	
	<div class="col-md-12">
		<div class=" box_style_2">
			<span class="tape"></span>
			<div class="row">
				<div class="col-md-12">
					<h3>Your personal information</h3>
				</div>
			</div>
			<div id="message-apply"></div>
			<form method="POST">
			
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<input type="text" class="form-control style_2" id="name_apply" name="f_name"  placeholder="First Name" value="{{request.form.f_name}}">
                            <span class="input-icon"><i class="icon-user"></i></span>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<input type="text" class="form-control style_2" id="lastname_apply" name="l_name" value="{{request.form.l_name}}" placeholder="Last Name">
                            <span class="input-icon"><i class="icon-user"></i></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<input type="email" id="email_apply" name="email" value="{{request.form.email}}" class="form-control style_2" placeholder="Enter Email">
                            <span class="input-icon"><i class="icon-email"></i></span>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<input type="text" id="phone_apply" name="ph_no" value="{{request.form.ph_no}}" class="form-control style_2" placeholder="Enter Phone number">
                            <span class="input-icon"><i class="icon-phone"></i></span>
						</div>
					</div>
				</div>
                
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<input type="text" class="form-control style_2" id="name_apply" name="address" value="{{request.form.address}}" placeholder="Address">
                            
						</div>
					</div>
				</div>
                <h3>Professional Summary</h3>
                
              <div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<textarea rows="5" id="message_apply_2" name="p_sum" placeholder="Add a brief summary of your background!"  value="{{request.form.p_sum}}" class="form-control"  style="height:150px;"></textarea>
						</div>
					</div>
				</div>
                
                <h3>Skills</h3>
                <div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<textarea rows="5" id="message_apply_2" name="skills" class="form-control" placeholder="Mention your skills" value="{{request.form.skills}}"  style="height:150px;"></textarea>
						</div>
					</div>
				</div>
                
                 
                <h3>Work History</h3>
                
                <div class="row">
                	<div class="col-md-12">
                    	<div class="form-group">
                    	  <textarea rows="5" id="message_apply_" name="w_hist" placeholder="Where have you worked?" value="{{request.form.w_hist}}" class="form-control"  style="height:150px;"></textarea>
                    	</div>
              </div>
            </div>  
            
                <h3>Education</h3>
                
                <div class="row">
                	<div class="col-md-12">
						<div class="form-group">
							
                            <textarea rows="5" id="message_apply_" name="edu" class="form-control" placeholder="Education"  value="{{request.form.edu}}" style="height:150px;"></textarea>
						</div>
					</div>
					
                </div>
                
                <div class="row">
                <div class="col-md-6">
						<div class="form-group pull-right">
							<input type="submit" value="Submit" class=" button_subscribe_green" />
					</div>
				</div>
                </div>
			</form>
		</div>
	</div>
</div>
</div>
</section>

<footer>

<div class="container" id="nav-footer">
	<div class="row text-left">
		<div class="col-md-3 col-sm-3">
			<h4>Browse</h4>
			<ul>
				<li><a href="#">News</a></li>
				<li><a href="#">Courses</a></li>
				<li><a href="#">Resume</a></li>
				<li><a href="#">Group Discussion</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<h4>Next Courses</h4>
			<ul>
				<li><a href="#">Object Oriented Programming</a></li>
				<li><a href="#">Software Engineering</a></li>
				<li><a href="#">Computing</a></li>
				<li><a href="#">Python</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<h4>About Learn</h4>
			<ul>
				<li><a href="../static/about_us.html">About Us</a></li>
				<li><a href=" apply_2.html">Apply</a></li>
				<li><a href="#">Terms and conditions</a></li>
				<li><a href="../static/register.html">Register</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<ul id="follow_us">
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class=" icon-google"></i></a></li>
			</ul>
			<ul>
				<li><strong class="phone"><i class="icon-phone"></i>+91 9988776054</strong><br><small>Mon - Fri / 9.00AM - 06.00PM</small></li>
				<li>Questions? careercup13@gmail.com</li>
			</ul>
		</div><!-- End col-md-4 -->
	</div><!-- End row -->
</div>
<div id="copy_right">© 2016</div>
</footer>

<div id="toTop">Back to top</div>

<!-- JQUERY -->
<script src="../static/js/jquery-1.10.2.min.js"></script>

<!-- OTHER JS --> 
<script src="../static/js/superfish.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/retina.min.js"></script>
<script src="../static/assets/validate.js"></script>
<script src="../static/js/jquery.placeholder.js"></script>
<script src="../static/js/functions.js"></script>

<!-- GOOGLE MAP -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="../static/js/mapmarker.jquery.js"></script>
<script type="text/javascript" src="../static/js/mapmarker_func.jquery.js"></script>


<!-- STYLE SWITCHER  -->
<link rel="stylesheet" type="text/css" media="screen,projection" href="../static/src/jquery-sticklr-1.4-light-color.css" >

  </body>

</html>