<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html lang="en">

<head>
  	<meta charset="utf-8">
    <title>CareerCup</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!-- Favicons-->
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" type="image/x-icon" href="../static/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../static/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="../static/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../static/img/apple-touch-icon-144x144-precomposed.png">
    
    <!-- CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/superfish.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/fontello/css/fontello.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
      <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
    
      <script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-11097556-8']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>

  </head>
  
  <body>
  <header>
  	<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-3">
			<a href=" index.html" id="logo">CareerCup</a>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-9">
			<div class="pull-right"> <a href="signin.html" class="button_top hidden-xs" id="apply">Sign out</a></div>
            	</div>
	</div>
</div>
</header><!-- End header -->

<nav>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="mobnav-btn"></div>
			<ul class="sf-menu">
				<li class="normal_drop_down">
				<a href=" index.html">Home</a>
				</li>
				<li class="normal_drop_down">
				<a href="#">Course</a>
				<div class="mobnav-subarrow"></div>
				<ul>
                	<li><a href=" C_details.html">c/c++</a></li>
                    <li><a href="#">java</a></li>
                    <li><a href="#">algorithms</a></li>
                    <li><a href="#">android</a></li>
                    <li><a href="#">operating sysytems</a></li>
                    <li><a href="#">mysql</a></li>
                    
				</ul>
				</li>
				<li><a href="#">aptitude</a></li>
				<li><a href="#">general knowledge</a></li>
                <li>
				<a href=" resume.html">resume</a>
                
				<li><a href="#">group discussion</a></li>
                <li><a href="#">news</a></li>
                <li><a href="#">about us</a></li>
			</ul>
            
              
		</div>
	</div><!-- End row -->
</div><!-- End container -->
</nav>

    <section id="main_content">
    	<div class="container">
        	
        
        <div class="row">
        
        <aside class="col-lg-3 col-md-4 col-sm-4">
            <div class="box_style_1">
            	<h4>Chapters</h4>
            <ul class="submenu-col">
                <li><a href="C1.html" class="active">C programming basics</a></li>
                <li><a href="C.html">Arrays and Functions</a></li>
                <li><a href="C2.html">Storage Classes</a></li>
                <li><a href="C3.html">Memory Allocation</a></li>
                <li><a href="C4.html">Structures and Unions</a></li>
                <li><a href="C5.html">Pointers</a></li>
                <li><a href="C6.html">Linked List</a></li>
                <li><a href="C7.html">File Processing</a></li>
            </ul>
            
            </div>
        </aside> 
        
        <div class="col-lg-9 col-md-8 col-sm-8">
        
       			 <div class="row">
                  <div class="col-md-12">
                  <ol class="breadcrumb">
      <li><a href=" index.html">Home</a></li>
      <li><a href="#">C programming</a></li>
      <li class="active">C programming basics</li>
    </ol>
                                 
                  </div>
                  </div><!-- Edn row -->
                  
                  
                           
        <div align="left">
        
			{% if q1 %}
			<h4>{{ q1 }} </h4>
			{% endif  %}
			{% if q2 %}
			<h4>{{ q2 }} </h4>
			{% endif  %}
			{% if q3 %}
			<h4>{{ q3 }} </h4>
			{% endif  %}
			{% if q4 %}
			<h4>{{ q4 }} </h4>
			{% endif  %}
			{% if q5 %}
			<h4>{{ q5 }} </h4>
			{% endif  %}
			{% if q6 %}
			<h4>{{ q6 }} </h4>
			{% endif  %}
			{% if q7 %}
			<h4>{{ q7 }} </h4>
			{% endif  %}
			{% if q8 %}
			<h4>{{ q8 }} </h4>
			{% endif  %}
			{% if q9 %}
			<h4>{{ q9 }} </h4>
			{% endif  %}
			{% if q10 %}
			<h4>{{ q10 }} </h4>
			{% endif  %}
			{% if q11 %}
			<h4>{{ q11 }} </h4>
			{% endif  %}
			{% if q12 %}
			<h4>{{ q12 }} </h4>
			{% endif  %}
			{% if q13 %}
			<h4>{{ q13 }} </h4>
			{% endif  %}
			{% if q14 %}
			<h4>{{ q14 }} </h4>
			{% endif  %}
			{% if q15 %}
			<h4>{{ q15 }} </h4>
			{% endif  %}
			
		<form method="POST">	
			      <input type="text" class="form-control style_2" id="name_apply" name="answer"  placeholder="Your Answer" value="{{request.form.answer}}">
			      
		      
          <input type="submit" class="btn btn-primary btn-lg" value="SUBMIT">
		   
		  </form>
		  {% if score %}
			<h4>SCORE: {{ score }} </h4>
			{% endif  %}
        </div>
            	
        </div><!-- End container -->
    </section><!-- End main_content -->

<footer>
<div class="container" id="nav-footer">
	<div class="row text-left">
		<div class="col-md-3 col-sm-3">
			<h4>Browse</h4>
			<ul>
				<li><a href="#">News</a></li>
				<li><a href="#">Courses</a></li>
				<li><a href="#">Resume</a></li>
				<li><a href="#">Group Discussion</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<h4>Next Courses</h4>
			<ul>
				<li><a href="#">Object Oriented Programming</a></li>
				<li><a href="#">Software Engineering</a></li>
				<li><a href="#">Computing</a></li>
				<li><a href="#">Python</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<h4>About Learn</h4>
			<ul>
				<li><a href="../static/about_us.html">About Us</a></li>
				<li><a href=" apply_2.html">Apply</a></li>
				<li><a href="#">Terms and conditions</a></li>
				<li><a href="../static/register.html">Register</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<ul id="follow_us">
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class=" icon-google"></i></a></li>
			</ul>
			<ul>
				<li><strong class="phone"><i class="icon-phone"></i>+91 9988776054</strong><br><small>Mon - Fri / 9.00AM - 06.00PM</small></li>
				<li>Questions? careercup13@gmail.com</li>
			</ul>
		</div><!-- End col-md-4 -->
	</div><!-- End row -->
</div>
<div id="copy_right">© 2016</div>
</footer>

<div id="toTop">Back to top</div>

<!-- JQUERY -->
<script src="../static/js/jquery-1.10.2.min.js"></script>


<!-- OTHER JS --> 
<script src="../static/js/superfish.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/retina.min.js"></script>
<script src="../static/assets/validate.js"></script>
<script src="../static/js/jquery.placeholder.js"></script>
<script src="../static/js/functions.js"></script>
<script src="../static/js/classie.js"></script>
<script src="../static/js/uisearch.js"></script>
<script>new UISearch( document.getElementById( 'sb-search' ) );</script>

<!-- STYLE SWITCHER  -->
<link rel="stylesheet" type="text/css" media="screen,projection" href="../static/src/jquery-sticklr-1.4-light-color.css" >

  </body>

<!-- Mirrored from www.ansonika.com/learn/shortcodes.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 21 Mar 2016 10:56:26 GMT -->
</html>