<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html lang="en">

<head>
  	<meta charset="utf-8">
    <title>CareerCup</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!-- Favicons-->
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" type="image/x-icon" href="../static/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../static/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="../static/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../static/img/apple-touch-icon-144x144-precomposed.png">
    
    <!-- REVOLUTION BANNER CSS SETTINGS -->
	<link href="../static/rs-plugin/css/settings.css" media="screen" rel="stylesheet">
    
    <!-- CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/superfish.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/fontello/css/fontello.css" rel="stylesheet">
       
    <!--[if lt IE 9]>
      <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

      
  </head>
  
  <body>
  <header>
  	<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-3">
			<a href=" index.html" id="logo">CareerCup</a>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-9">
			<div class=" pull-right"><a href="signin.html" class="button_top hidden-xs" id="apply">Sign out</a></div>
            </div>
	</div>
</div>
</header><!-- End header -->

<nav>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="mobnav-btn"></div>
			<ul class="sf-menu">
				<li class="normal_drop_down">
				<a href="#">Home</a>
				</li>
				<li class="normal_drop_down">
				<a href="#">Course</a>
				<div class="mobnav-subarrow"></div>
				<ul>
                	<li><a href=" C_details.html">C/C++</a></li>
                    <li><a href="#">Java</a></li>
                    <li><a href="#">Algorithms</a></li>
                    <li><a href="#">Android</a></li>
                    <li><a href="#">Operating Systems</a></li>
                    <li><a href="#">MySQL</a></li>
                    
				</ul>
				</li>
                <li><a href="#">Aptitude</a></li>
                <li><a href="#">General Knowledge</a></li>
				<li><a href=" resume.html">Resume</a></li>
				<li><a href="#">Group Discussion</a></li>
                <li><a href="#">News</a></li>
               <li><a href="#about">About Us</a></li>
			</ul>
            
            
              
		</div>
	</div><!-- End row -->
</div><!-- End container -->
</nav>

    <section class="tp-banner-container">
		<div class="tp-banner" >
			<ul class="sliderwrapper"><!-- SLIDE  -->
				<li data-transition="fade" data-slotamount="4" data-masterspeed="1500" >
					<!-- MAIN IMAGE -->
					<img src="../static/sliderimages/slide_5.jpg" alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                   <!-- SLIDE  -->
				<li data-transition="zoomout" data-slotamount="4" data-masterspeed="1000" >
					<!-- MAIN IMAGE -->
					<img src="../static/sliderimages/slide_7.jpg" alt="slidebg2"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS -->

					<!-- LAYER NR. 1 -->
					<div class="tp-caption medium_light_white skewfromrightshort customout"
						data-x="80"
						data-y="96"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="800"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 4">Change Your Career.
					</div>

					
					<!-- LAYER NR. 3 -->
					<div class="tp-caption large_bold_white skewfromleftshort customout"
						data-x="80"
						data-y="152"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="300"
						data-start="1100"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 7">Change Your Life.
					</div>
				</li>
                
                <!-- SLIDE  -->
				<li data-transition="cube-horizontal" data-slotamount="4" data-masterspeed="1000" >
					<!-- MAIN IMAGE -->
					<img src="../static/sliderimages/slide_1.jpg" alt="slidebg3"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS -->

					<!-- LAYER NR. 1 -->
					<div class="tp-caption medium_light_white skewfromrightshort customout"
						data-x="80"
						data-y="96"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="800"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 4">Enjoy
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption medium_thin_white skewfromleftshort customout"
						data-x="235"
						data-y="110"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="900"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 5">&
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption large_bold_white skewfromleftshort customout"
						data-x="80"
						data-y="152"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="300"
						data-start="1100"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 7">Improve your skills
					</div>
				</li>
                
                 <!-- SLIDE  -->
				<li data-transition="zoomin" data-slotamount="4" data-masterspeed="1000" >
					<!-- MAIN IMAGE -->
					<img src="../static/sliderimages/slide_6.jpg" alt="slidebg4"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS -->

					<!-- LAYER NR. 10 -->
					<div class="tp-caption large_bold_white customin customout"
						data-x="center" data-hoffset="0"
						data-y="160"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="1000"
						data-start="1700"
						data-easing="Back.easeInOut"
						data-endspeed="300"
						style="z-index: 11">Single or multi course
					</div>
				</li>
				
			</ul>
			<div class="tp-bannertimer"></div>
		</div>
	</section><!-- End slider -->
    
    <section id="main-features">
    <div class="divider_top_black"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-10 col-md-offset-1 text-center">
                <a name="about">
                <h2>Why Join careercup</h2>
                <p class="lead">
                    CareerCup brings technology education to people everywhere<br>
                   in order to help them achieve their dreams and change the world.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-trophy"></i>
                    <h3>Quizzes</h3>
                    <p>
                        Recall the valuable information that you learn along the way.
                        </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class=" icon-ok-4"></i>
                    <h3>Jobs for everyone</h3>
                    <p>
                        We teach the skills necessary to get a new job or stay fresh on your game at an existing gig.
                        </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-video"></i>
                    <h3>+1200 Video lessons</h3>
                    <p>
                       Learn by watching engaging videos. 
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-bell"></i>
                    <h3>Notifications</h3>
                    <p>
                       Always know when new content is released or updated. 
                                            </p>
                </div>
            </div>
        </div><!-- End row -->
        </div><!-- End container-->
    </section><!-- End main-features -->
    
    <section id="main_content_gray">
    	<div class="container">
        	<div class="row">
            <div class="col-md-12 text-center">
                <h2>next Courses</h2>
                <br>
              </div>
        </div><!-- End row -->
        
        <div class="row">
        
        			<div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="col-item">
                            <span class="ribbon_course"></span>
                                <div class="photo">
                                    <a href="#"><img src="../static/img/Fundamentals.jpg" alt="" /></a>
                                    <div class="cat_row"><a href="#">Computing</a><span class="pull-right"><i class=" icon-clock"></i>6 Days</span></div>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="course_info col-md-12 col-sm-12">
                                            <h4>Fundamentals of Computing</h4>
                                            <p > This course is designed to help students with very little or no computing background. </p>
                                            <br>
                                            <div class="rating">
                                            <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i>
                                        	</div>
                                      </div>
                                    </div>
                                    <div class="separator clearfix">
                                        <p class="btn-details"> <a href="../static/course_details_1.html"><i class=" icon-list"></i> Details</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <a href="#"><img src="../static/img/oops.jpg" alt="" /></a>
                                    <div class="cat_row"><a href="#">Object Oriented Programming</a><span class="pull-right"><i class=" icon-clock"></i>8 Days</span></div>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="course_info col-md-12 col-sm-12">
                                            <h4>Object oriented programming in Java</h4>
                                            <p > Learn how to divide up a large project into a hierarchy of classes. </p>
                                            <br>
                                            <br>
                                            <div class="rating">
                                            <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                                        </div>
                                        
                                        </div>
                                    </div>
                                    <div class="separator clearfix">
                                        
                                        <p class="btn-details"> <a href="../static/course_details_1.html"><i class=" icon-list"></i> Details</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <a href="#"><img src="../static/img/python1.jpg" alt="" /></a>
                                    <div class="cat_row"><a href="#">Python</a><span class="pull-right"><i class=" icon-clock"></i>10 Days</span></div>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="course_info col-md-12 col-sm-12">
                                            <h4>Python for everybody</h4>
                                          <p > The course covers fundamental programming concepts including data structures, networked application program interfaces and databases using Python. </p>
                                            <div class="rating">
                                            <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i>
                                        </div>
                                        
                                        </div>
                                    </div>
                                    <div class="separator clearfix">
                                        
                                        <p class="btn-details"> <a href="../static/course_details_1.html"><i class=" icon-list"></i> Details</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <a href="#"><img src="../static/img/se.jpg" alt="" /></a>
                                    <div class="cat_row"><a href="#">Software Engineering</a><span class="pull-right"><i class=" icon-clock"></i>15 Days</span></div>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="course_info col-md-12 col-sm-12">
                                            <h4>Mastering the Software Engineering interview</h4>
                                            <p > We provide tips, examples and practice opportunities in this course that may help you with a number of tech companies. </p>
                                            <div class="rating">
                                            <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i>
                                        </div>
                                        
                                        </div>
                                    </div>
                                    <div class="separator clearfix">
                                        
                                        <p class="btn-details"> <a href="../static/course_details_1.html"><i class=" icon-list"></i> Details</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
   
        </div><!-- End row -->
        <div class="row">
        	<div class="col-md-12">
        	     <a href="../static/courses_grid.html" class="button_medium_outline pull-right">View all courses</a>
            </div>
        </div>
         </div>   <!-- End container -->
        </section><!-- End section gray -->
        
        <section id="main_content">
        <div class="container">
        <div class="row add_bottom_30">
        	<div class="col-md-12 text-center">
            <h2>NEWS</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
       			<div class="media">
                   <div class="circ-wrapper pull-left"><h3>25<br>June</h3></div>
                      <div class="media-body">
                      	<h4 class="media-heading"><a href="javascript:void(0)">Cloud Computing Workshop</a> <span class="label label-warning">NEW</span></h4>
                         <p>Cloud computing is biggest emerging trend in IT industry, which will change the way computing is done. There are many providers in industry today which offer various cloud services ranging from infrastructure to softwares. It is important to understand now what cloud computing is, why it is so promising and what impacts it will have on IT industry.

						 </p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i>Duration: 6 hours</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i>Video files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-mic"></i>Audio files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Audio files</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul>
                      </div>
                    </div>
                    
                    <div class="media">
                   <div class="circ-wrapper pull-left"><h3>15<br>July</h3></div>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="javascript:void(0)">CSS3 Workshop</a> <span class="label label-warning">NEW</span></h4>
                         <p>The workshop is intended for designers and programmers who want to learn basics of web design with HTML and CSS and learn about the technologies offered by HTML5 in modern browsers. Basic knowledge of HTML is desirable, but not essential.
						 </p> 
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i>Duration: 6 hours</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i>Video files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-doc-text-inv"></i>Text doc</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Text doc</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul>
                      </div>
                    </div>
                    
            </div><!-- End col md 6 -->
            <div class="col-md-6">
            <div class="media">
                   <div class="circ-wrapper pull-left"><h3>12<br>Aug</h3></div>
                      <div class="media-body">
                      	<h4 class="media-heading"><a href="javascript:void(0)">Python Workshop</a></h4>
                         <p>In this workshop, you’ll learn all about Python - including how to get started, what advantages and disadvantages Python provides as a programming language, the essentials of programming in Python, and what tools are available to build applications in Python.
						 </p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i>Duration: 6 hours</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i>Video files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-mic"></i>Audio files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Audio files</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul>
                      </div>
                    </div>
                    
                    <div class="media">
                   <div class="circ-wrapper pull-left"><h3>25<br>Sept</h3></div>
                      <div class="media-body" >
                        <h4 class="media-heading"><a href="javascript:void(0)">Android Application Development Workshop</a></h4>
                         <p>It mainly focuses on how to use Android OS for building your own Android Application. Only the basic knowledge of programming is required for Android App Development, you do not have to be a geek for it! The workshop will start from the basics like designing layouts and building complex layouts. Once the basics of Android are done we will begin with building Apps.
						 </p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i>Duration: 6 hours</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i>Video files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-doc-text-inv"></i>Text doc</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Text doc</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul> 
                      </div>
                    </div>
            	
            </div>
        </div><!-- End row -->
       	<hr>
                
          <div class="row">
          	<div class="col-md-3 col-sm-6">
				<h4>Group Discussion</h4>
                <p><img src="../static/img/pic_1.jpg" alt="Pic" class="img-responsive"></p>
                <p>Connect with thousands of other learners and debate ideas, discuss course material, and get help mastering concepts.</p> 
            </div>
            
            <div class="col-md-3 col-sm-6">
				<h4>Learn &amp; Compete</h4>
                <p><img src="../static/img/pic_2.jpg" alt="Pic" class="img-responsive"></p>
                <p>Practice what you've learned through quizzes and interactive Code Challenges. This style of practicing will allow you to retain information you've learned so you can apply it to your own future projects.
</p> 
            </div>
            
            <div class="col-md-3 col-sm-6">
				<h4>Get Resume! Steal the Job!</h4>
                <p><img src="../static/img/pic_3.jpe" alt="Pic" class="img-responsive"></p>
                <p>Writing the perfect resume has never been easier. Just choose one of our job-winning designs and add our expert-written examples. In just 10 minutes, you'll have a flawless professional resume.</p> 
            </div>
            
            <div class="col-md-3 col-sm-6">
				<h4>Links</h4>
                <ul class="list_1">
                      <li><a href="http://www.geeksforgeeks.org/c-plus-plus/">C/C++</a></li>
                      <li><a href="http://www.geeksforgeeks.org/java/">Java</a></li>
                      <li><a href="http://www.learnalgorithms.in/">Algorithms</a></li>
                      <li><a href="http://www.tutorialspoint.com/android/">Android</a></li>
                      <li><a href="http://www.tutorialspoint.com/operating_system/">Operating Systems</a></li>
                       <li><a href="http://www.w3schools.com/sql/">MySQL</a></li>
                 </ul>
            </div>
        	
        </div><!-- End row -->
        
    </section><!-- End main_content -->
    
    <section id="testimonials">
        <div class="container">
            <div class="row">
                <div class='col-md-offset-2 col-md-8 text-center'>
                    <h2>What they say</h2>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-offset-2 col-md-8'>
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#quote-carousel" data-slide-to="1"></li>
                            <li data-target="#quote-carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner">
                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-circle" src="../static/img/Joey.jpg" alt="">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>
                                                I absolutely love this website! It makes creating a Resume as simple as 1 2 3! I would recommend this site to anyone!


                                            </p>
                                            <small>Joey Tribbiani</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-circle" src="../static/img/Chandler.jpeg" alt="">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>
                                               Learning with CareerCup has been priceless; the bulk of education that has enabled me to break through into the tech industry has been with CareerCup courses.
                                            </p>
                                            <small>Chandler Bing</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-circle" src="../static/img/testimonial_1.jpg" alt="">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>
                   CareerCup has been invaluable to me. I also feel deep satisfaction as a result of learning it all on accounts of my own efforts, thanks to CareerCup.
                                            </p>
                                            <small>Phoebe Buffay</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </section><!-- End testimonials -->

<footer>
<div class="container" id="nav-footer">
	<div class="row text-left">
		<div class="col-md-3 col-sm-3">
			<h4>Browse</h4>
			<ul>
				<li><a href="#">News</a></li>
				<li><a href="#">Courses</a></li>
				<li><a href="#">Resume</a></li>
				<li><a href="#">Group Discussion</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<h4>Next Courses</h4>
			<ul>
				<li><a href="#">Object Oriented Programming</a></li>
				<li><a href="#">Software Engineering</a></li>
				<li><a href="#">Computing</a></li>
				<li><a href="#">Python</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<h4>About Learn</h4>
			<ul>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Apply</a></li>
				<li><a href="#">Terms and conditions</a></li>
				<li><a href="#">Register</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<ul id="follow_us">
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class=" icon-google"></i></a></li>
			</ul>
			<ul>
				<li><strong class="phone"><i class="icon-phone"></i>+91 9988776054</strong><br><small>Mon - Fri / 9.00AM - 06.00PM</small></li>
				<li>Questions? careercup13@gmail.com</li>
			</ul>
		</div><!-- End col-md-4 -->
	</div><!-- End row -->
</div>
<div id="copy_right">© 2016</div>
</footer>

<div id="toTop">Back to top</div>

<!-- JQUERY -->
<script src="../static/js/jquery-1.10.2.min.js"></script>
<!-- jQuery REVOLUTION Slider  -->
<script type="text/javascript" src="../static/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="../static/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript">

		var revapi;

		jQuery(document).ready(function() {

			   revapi = jQuery('.tp-banner').revolution(
				{
					delay:9000,
					startwidth:1700,
					startheight:600,
					hideThumbs:true,
					navigationType:"none",
					fullWidth:"on",
					forceFullWidth:"on"
				});

		});	//ready

	</script>

<!-- OTHER JS --> 
<script src="../static/js/superfish.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/retina.min.js"></script>
<script src="../static/assets/validate.js"></script>
<script src="../static/js/jquery.placeholder.js"></script>
<script src="../static/js/functions.js"></script>
<script src="../static/js/classie.js"></script>
<script src="../static/js/uisearch.js"></script>
<script src="../static/js/Untitled-1.js"></script>
<script>new UISearch( document.getElementById( 'sb-search' ) );</script>

<!-- STYLE SWITCHER  -->
<link rel="stylesheet" type="text/css" media="screen,projection" href="../static/src/jquery-sticklr-1.4-light-color.css" >
<script type="text/javascript" src="../static/src/jquery-sticklr-1.4.min.js"></script>
	
  </body>

<!-- Mirrored from www.ansonika.com/learn/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 21 Mar 2016 10:54:09 GMT -->
</html>